emacs/.emacs.d/auto-save-list
emacs/.emacs.d/eln-cache
emacs/.emacs.d/elpa
emacs/.emacs.d/tramp
emacs/.emacs.d/transient
emacs/.emacs.d/url

vimb/.config/vimb/closed
vimb/.config/vimb/command
vimb/.config/vimb/cookies.db
vimb/.config/vimb/history

nvim/.config/nvim/lazy-lock.json


